@import 'tailwindcss';

body {
	@apply bg-black text-white;
	--sb-track-color: #000000;
	--sb-thumb-color: #d4d4d8;
	--sb-size: 4px;
}

body::-webkit-scrollbar {
	width: var(--sb-size);
}

body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
	body {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}

a {
	@apply text-zinc-300 transition-colors hover:text-white;
}
a.active {
	@apply !text-white;
}

.seasonButton {
	@apply cursor-pointer rounded border border-white/10 px-4 py-0.5 text-zinc-300 transition-colors hover:!bg-zinc-900/80 hover:text-white;
}
.seasonButton.active {
	@apply bg-zinc-900/80 text-white;
}

.title {
	font-family: Textile, Arial, sans-serif;
}
