@import 'tailwindcss';

:root {
	--background: #000000;
	--button-active: #131316;
	--foreground: #ffffff;
	--foreground-muted: #d4d4d8;
}

/* .dark {
	--background: oklch(0.191 0 0);
} */

@theme {
	--color-background: var(--background);
	--color-button-active: var(--button-active);
	--color-foreground: var(--foreground);
	--color-foreground-muted: var(--foreground-muted);
}

body {
	@apply bg-background text-foreground;
	--sb-track-color: #000000;
	--sb-thumb-color: #d4d4d8;
	--sb-size: 4px;
}

body::-webkit-scrollbar {
	width: var(--sb-size);
}

body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
	body {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}

a {
	@apply text-xl text-foreground-muted transition-colors hover:text-foreground;
}
a.active {
	@apply border-b-2 border-foreground !text-foreground;
}

.seasonButton {
	@apply cursor-pointer rounded border border-button-active px-4 py-0.5 text-sm text-foreground-muted transition-colors hover:!bg-zinc-900/80 hover:text-white;
}
.seasonButton.active {
	@apply bg-button-active text-foreground;
}

.title {
	font-family: Textile, Arial, sans-serif;
}
